from multiprocessing import cpu_count

bind = "unix:{{ proj_path }}/gunicorn.sock"
workers = cpu_count() * 2 + 1
errorlog = "{{ gunicorn_logs_path }}/{{ proj_name }}_error.log"
loglevel = "error"
proc_name = "{{ proj_name }}"
